<div class="container text-center mt-5">
    <h1>Registrarse como...</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-md-5 mb-3">
            <div class="card border-light shadow-sm">
                <img src="assets/doctor-icon.png" class="card-img-top img-fluid" alt="Imagen doctor">
                <div class="card-body">
                    <button routerLink ="medico" class="btn btn-dark">Medico</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-3">
            <div class="card border-light shadow-sm">
                <img src="assets/paciente-icon.png" class="card-img-top img-fluid" alt="imagen paciente">
                <div class="card-body">
                    <button routerLink ="paciente" class="btn btn-dark">Paciente</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button routerLink ="admin">Admin</button>
