<div class="container text-center mt-5">
    <div>
        <img src="assets\doctor-icon.png" alt="Imagen paciente" class="img-fluid rounded mb-4" width="100px">
    </div>
    
    <h1>Medico</h1>
    
    <div class="row justify-content-center mt-4">
        <div class="col-md-5 mb-3">
            <input type="text" id="nombre" name="nombre" class="form-control mb-3" placeholder="nombre..." [(ngModel)]="nombre">
            <input type="email" id="mail" name="mail" class="form-control mb-3" placeholder="mail..." [(ngModel)]="mail">
            <input type="number" id="dni" name="dni" class="form-control mb-3" placeholder="dni..." [(ngModel)]="dni">
            <label for="especialidad" class="form-label">Especialidad:</label>
            <select name="especialidad" id="especialidad" class="form-select mb-3" [(ngModel)]="especialidad" (change)="onEspecialidadChange($event)">
                <option value="Cardiologia">Cardiologia</option>
                <option value="Dermatologia">Dermatologia</option>
                <option value="Pediatria">Pediatria</option>
                <option value="Nefrologia">Nefrologia</option>
                <option value="Neurologia">Neurologia</option>
                <option value="otro">Otro</option>
            </select>
            @if(especialidad === 'otro')
            {
                <input  type="text" id="customEspecialidad" name="customEspecialidad" class="form-control mb-3" placeholder="Escribe tu especialidad...">
            }
        </div>
        
        <div class="col-md-5 mb-3">
            <input type="text" id="apellido" name="apellido" class="form-control mb-3" placeholder="apellido..." [(ngModel)]="apellido">
            <input type="password" id="password" name="password" class="form-control mb-3" placeholder="contraseña..." [(ngModel)]="password">
            <input type="number" id="edad" name="edad" class="form-control mb-3" placeholder="edad..." [(ngModel)]="edad">
            <label for="archivoPerfil" class="form-label">Seleccione una imagen para su Perfil</label>
            <input type="file" id="archivoPerfil" name="archivoPerfil" class="form-control mb-3" (change)="onFileChange($event)">
        </div>
    </div>
    <button (click)="registrarMedico()" class="btn btn-dark btn-full-width">Registrarse</button>
</div>

